@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;

  font-family: 'Red Hat Text', sans-serif; /* 400, 600, 700 */
}

:root{
  font-size: 16px;

  --hyperlink-blue: hsl(228, 45%, 44%);

  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);

  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
}